body
{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
}

/*Navigation Bar*/
.nav_bar
{
	background: rgba(173, 216, 230, 1);
	z-index: 1;
	width: 100%;
	height:10%;
	top: 0px;
	position: fixed;
}

.menu>ul>li
{
	display: inline;
	list-style: none;
	padding: 2%;
}

.menu>ul>li>a
{
	color: white;
}

.menu
{
	text-align: right;
}

.menu>ul>li>img
{
	margin-left: 1%;
	width: 10%;
	vertical-align: middle;
}

/* Properties for Background*/
.First 
{
	position: relative;
	align : center;
}

.py_back
{
	position: absolute;
	z-index: -1;
	opacity: 0.3
}

.Second
{ 
	position: relative;
}

.freecad
{
	position: absolute;
	z-index: -1;
	opacity: 0.3
}

/* Properties for images */
.GameOfLife
{
	float: right;
	width: 90%;
	border: 1px solid black;
	background-color: white;
	z-index: 0;
}

.bishop
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
	z-index: 0;
}

.macro
{
	float: right;
	width: 100%;
	top-margin: 5px;
	border: 2px solid white;
	background-color: black;
	z-index: 0;
}

.topGear
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
	z-index: 0;
}
