body
{
	display: flex;
	flex-direction: column;
}

.page
{
	position: relative;
	align : center;
}

.First 
{
	position: absolute;
	top: 0px;
	left: 0px;
/*	align : center;*/
}

.py_back
{
	z-index: -1;
	opacity: 0.3
}
/*.First:after
{
	background-image: url("../images/python-logo.png");
	opacity: 0.3;
	content: ' ';
    	display: block;
    	position: absolute;
    	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
}*/

.Second
{ 
	position: relative;
	align : center;
}

/*.Second:after
{
	background-image : url("../images/freecad.png");
	opacity: 0.3;
	content: ' ';
    	display: block;
    	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}*/

.GameOfLife
{
	float: right;
	width: 90%;
	border: 1px solid black;
	background-color: white;
}

.bishop
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}
.topGear
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}
