body
{
	display: flex;
	margin-top: 3em;
	flex-direction: column;
}

.nav_bar
{
	background: rgba(173, 216, 230, 1);
	width: 100%;
	height:3em;
	top: 0px;
	position: fixed;
}
.menu>ul>li
{
	display: inline;
	list-style: none;
	padding: .7em;
}

.menu>ul>li>a
{
	color: white;
}

.menu
{
	text-align: center;
}

/* Properties for Background*/
.First 
{
	position: relative;
	align : center;
}

.py_back
{
	position: absolute;
	z-index: -1;
	opacity: 0.3
}

.Second
{ 
	position: relative;
}

.freecad
{
	position: absolute;
	z-index: -1;
	opacity: 0.3
}

/* Properties for images */
.GameOfLife
{
	float: right;
	width: 90%;
	border: 1px solid black;
	background-color: white;
}

.bishop
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}

.macro
{
	float: right;
	width: 100%;
	top-margin: 5px;
	border: 2px solid white;
	background-color: black;
}

.topGear
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}
