body
{
	display: flex;
	flex-direction: column;
}

.First 
{
	position: relative;
	align : center;
}

.First:after
{
	background-image: url("../images/py_back.png");
	opacity: 0.5;
	content: ' ';
    	display: block;
    	position: absolute;
    	left: 0;
	right 0;
   	top: 0;
	bottom: 0;
    	/*width: 100%;
	height: 100%;*/
	background-size: cover;
	background-repeat: no-repeat;
}

.Second
{ 
	background-image : url("../images/freecad.png");
}

.First>b
{
	color : red;
}

.pic
{ 
	float: right;
	height: 10%; 
	width: 50%;
	border: 1px solid black;
        background-color: white;
}

.GameOfLife
{
	float: right;
	width: 90%;
	border: 1px solid black;
	background-color: white;
}

.bishop
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}
.topGear
{
	float: right;
	width: 80%;
	border: 1px solid black;
	background-color: white;
}
